.NavBar{
    background-color: #FDA62B;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    color: #50244A;
    width: 100%;
}

.Text{
    margin-right: 2rem;
    margin-left: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    z-index: 1;
}

.Text p{
    font-size: xx-large;
    font-weight: 500;
}

#Link{
    background-color: #FFFFFF;
    padding: 0.55rem;
    height: 2.7rem;
    width: 50px;
    font-size: x-large;
    font-weight: bold;
    border-left: 2px #50244A solid;
    border-right: 2px #50244A solid;
    cursor: pointer;
}

#Link2{
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 0.55rem;
    height: 2.7rem;
    width: 50px;
    font-size: x-large;
    font-weight: bold;
    border-left: 2px #50244A solid;
    border-right: 2px #50244A solid;
    cursor: pointer;
}

.Opened{
    position: absolute;
    right: 4.1rem;
    top: 3.5rem;
    background-color: #FFFFFF;
    width: 300px;
    height: 6rem;
    border-radius: 0px 0px 10px 10px;
}

.Closed{
    display: none;
}

.UserData{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.UserData button{
    width: 80%;
    height: 2rem;
    background-color: #50244A;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.25rem;
}

.UserData button:hover{
    background-color: #FDA62B;
    color: #50244A;
    transition: 0.3s;
}

.select{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    align-items: center;
}

.select button{
    margin: 0rem 1rem;
    background-color: #FDA62B;
    border: none;
    border-radius: 0.5rem;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    color: #50244A;
    font-size: large;
}

.select input{
    width: 50%;
    margin: 1rem;
    padding: 0.75rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    color: #50244A;
    border-bottom: 3px antiquewhite solid;
    outline: none;
    font-size: medium;
}

.select input::placeholder { color: #50244A; font-weight: bold; }
.select input::-ms-reveal {
    width: 1.5rem;
    height: 1.5rem;
}